       h1{
            border-radius: 10px;
       }
       body {
            font-family: Arial, sans-serif;
            background: #9CCFFF;
            text-align: center;
        }

        #header{                       
            color: #6F8F72;  
            background-color: #E8E2D8; 
            display: inline-block; 
            margin-right:100px;
        }                   
        

        .dashboard {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            width: 50%;                      
            margin-right: 150px; 
            align-items: center;
            justify-content: center;
            padding: 20px;        
            background-color: #628141;
            box-sizing: border-box;
            box-shadow: 5px 5px 10px #2C2C2C; 
            justify-content: center;
        }

        .card:hover {
            background: #F9D0CD;
            padding: 15px;
            border-radius: 8px;
            text-align: center;
            box-sizing: border-box;
            box-shadow: 6px 4px 15px rgba(0, 0, 0, 0.80);
        }

        .title:hover {
            font-weight: bold;
            color: #555;
        }
           

        

        .value:hover {
            font-size: 22px;
            color: #0a58ca;
            margin-top: 5px;
        }
            
        

        .mode {
            grid-column: span 4;            
        }
       
       


       